.venv
.history
.vscode
.pytest_cache
.mypy_cache
.gitignore
.git
.dockerignore
.env
.git
.history
.pytest_cache
.ruff_cache
.env.example
tests
.pre-commit-config.yaml
setup.cfg
*/__pycache__
Dockerfile
LICENSE
Makefile
